*/.Rhistory
data/
*.h5

models/

# Code
.vscode/

# PyCharm
.idea/

# Mac/OSX
.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# pyenv
.python-version

node_modules/

nohup.out

Icon
